/*scuffed expand table on click code, taken from "https://jsfiddle.net/4h75G/13/"*/
body,table{
    font-family:verdana,arial,sans-serif;
    font-size:12px;
    border-collapse:collapse;
}

td,th{
    padding:3px 3px;
    margin:0px;
    border:1px solid #BBB;
    white-space:nowrap;
}

.content{
    height:15px;
    width:200px;
    overflow:hidden;
    text-overflow:ellipsis
}

input[type='checkbox'] { visibility: hidden; position: absolute; }
input[type='checkbox']:checked + .content { height: auto; width: auto;}
/*album display preview taken from "https://jsfiddle.net/d2hg0Lg6/2/"*/

/*All css for the Streamable page*/
@media (max-width: 600px) {
	body.stream {
		background-repeat: no-repeat;
		background-attachment: local, scroll;
		background-position: right;
		background-size: 30%;
		background-image: url("../media/Nova Drift/background-400x1054.png");
	}
}

@media (min-width: 601px) {
	body.stream {
		background-repeat: no-repeat;
		background-attachment: local, scroll;
		background-position: right;
		background-size: 30%;
		background-image: url("../media/Nova Drift/background-800x2108.png");
	}
}

#wrapper.stream {
	margin-left: 10%;
	margin-right: 10%;
}

body.stream {
	font-family: Verdana, Arial, sans-sarif;
	color: white;

	background-color: #0F0F2B;
}

header.stream {
	text-align: center;
	color: white;
}

nav.stream {
	text-align: center;
	background-color: white;
	background-color: white;

}

main.grid.stream {
	/*shrink to let background image show*/
	margin-right: 25%;
	gap: 1em 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

main.grid.descend.stream {
	background-color: black;
}

footer.stream {
	background-color: white;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

a.stream:link,
a.stream:visited {
	background-color: #16164a;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
}

/*All css for the Non-streamable page*/
#wrapper.non {
	margin-left: 10%;
	margin-right: 10%;
}

body.non {
	background-color: black;
	color: white;
	font-family: Verdana, Arial, sans-sarif;
}

header.non {
	text-align: center;
}

nav.non {
	text-align: center;
	background-color: #595959;
}

a.non:link,
a.non:visited {
	background-color: #2f2f30;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
}

footer.non {
	text-align: center;
	background-color: #595959;
}

/*All css for the Contact page*/
#wrapper.contact {
	margin-left: 10%;
	margin-right: 10%;
}

body.contact {
	background-color: #162a4f;
	color: white;
	font-family: Verdana, Arial, sans-sarif;
}

header.contact {
	color: white;
	text-align: center;
}

nav.contact {
	text-align: center;
	background-color: #949494;
}

#flexright.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-left: 20%;
}

#flexleft.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-right: 20%;
}

#rightheading.contact {
	margin-left: 20%;
	text-align: center;
}

#leftheading.contact {
	margin-right: 20%;
	text-align: center;
}

#center.contact {
	text-align: center;
}

footer.contact {
	text-align: center;
	background-color: #949494;
}

a.contact:link,
a.contact:visited {
	background-color: #22314a;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
}

/*All css for the Index page*/
#wrapper.index {
	margin-left: 10%;
	margin-right: 10%;
}

body.index {
	background-color: black;
	color: white;
	font-family: Verdana, Arial, sans-sarif;
}

header.index {
	color: white;
	text-align: center;
}

nav.index {
	text-align: center;
	background-color: #949494;
}

#flex.index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.right {
  max-width: 100%;
  margin-left: 28px;
}

a.index:link,
a.index:visited {
	background-color: #22314a;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
}

footer.index {
	text-align: center;
	background-color: #949494;
}